html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  --background-color: #ffffff;
  --primary-text-style: 'Open Sans', sans-serif;
}

body {
  font-family: var(--primary-text-style);
  padding: 0;
  margin: 0;
}
